<nav>
  <ul>
    <li><a class="scroll-on-page-link" href="#cases" title="cases">cases</a></li>
    <li><a class="scroll-on-page-link" href="#about" title="about">about</a></li>
    <li><a class="scroll-on-page-link" href="#details" title="details">details</a></li>
    <li><a class="scroll-on-page-link" href="#contact" title="contact">contact</a></li>
    <li><a class="scroll-on-page-link" href="https://secure.lawpay.com/pages/sdg-law-llc/operating" target="_blank" title="contact">pay invoice</a></li>
  </ul>
</nav>
