---
title: SDG LAW, llc | David Hyams
---
<div class="l-container">
  <section class='mug l-skinny-col'>
    <%= image_tag 'david_hyams.jpg' %>
  </section>

  <section class='content l-fat-col animated fadeIn'>
    <div class="logo">
      <%= image_tag 'logo.jpg' %>
    </div>
    <div class='blurb'>
      <h3>Religious Institutions, Bankruptcy, Business Disputes</h2>
      <h4>Passion. Excellence. Care.</h3>
    </div>
    <div class="contact">
      <section>Phone <a href="tel:17209891281">720-989-1281</a></section>
      <section>Email <%= mail_to "dhyams@sdglawllc.com", "dhyams@sdglawllc.com",  subject: "Web Inquiry" %></section>
      <section>
        Mailing
        <address>
          PO Box 100242, Denver, CO 80250
        </address>
      </section>
    </div>
  </section>
</div>
